/* CSS Document */

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    max-width: 1440px;
}

/* CSS Body */

* {
    margin: 0;
    padding: 0;
}

/* CSS Body */

main {
    width: 70%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* CSS Typography */

h1, a {
    color:hsl(0, 0%, 95%);
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-weight: 400;
}

/* CSS Section */


section {
    padding: 50px;
    background-color: rebeccapurple;
}

section > h1 {
    margin: 30px 0;
    padding: 0;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.45em;
}

section > p {
    line-height: 24px;
    margin-bottom: 100px;
}

a {
    margin: 0;
    text-decoration: none;
    padding: 12px 20px 12px 20px;
    border: 1.5px solid hsl(0, 0%, 95%);
    border-radius: 50px;
    position: relative;
}

#left {
    background-color: hsl(31, 77%, 52%);
    /* border: 0px solid hsl(0, 0%, 95%); */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#middle {
    background-color: hsl(184, 100%, 22%);
}
#right {
    background-color: hsl(179, 100%, 13%);
    /* border: 0px solid hsl(0, 0%, 95%); */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#left > a:hover {
    background-color: hsl(0, 0%, 95%);
    color:hsl(31, 77%, 52%);
}
#middle > a:hover {
    background-color: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
}
#right > a:hover {
    background-color: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
}