/* CSS Document */

/* * {
    box-sizing: border-box;
} */

body {
    background-color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    /* max-width: 1440px; */
}

/* CSS Body */

* {
    margin: 0;
    padding: 0;
}

/* CSS Grid */

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-areas:
        'a a a a b b'
        'c c c d d d'
        'c c c e e e';
    height: 70vh;
    max-width: 60em;
    margin: 10vh auto;
}

.a {
    background-color: #dad7cd;
    grid-area: a;
}

.b {
    background-color: #a3b18a;
    grid-area: b;
}

.c {
    background-color: #588157;
    grid-area: c;
}

.d {
    background-color: #3a5a40;
    grid-area: d;
}

.e {
    background-color: #344e41;
    grid-area: e;
}

/* CSS Button */

.flex {
    color: hsl(0, 0%, 95%);
    background-color: hsl(179, 100%, 13%);
    padding: 12px 200px;
    margin-left: 33%;
    text-decoration: none;
    border: 1.5px solid hsl(0, 0%, 95%);
    border-radius: 50px;
}

.flex:hover {
    background-color: hsl(31, 77%, 52%);
}